
auto-sklearn has the following system requirements:

Linux operating system (for example Ubuntu) (get Linux here),

Python (>=3.5) (get Python here).

C++ compiler (with C++11 supports) (get GCC here) and

SWIG (version 3.0 or later) (get SWIG here).

---------------------------------------
pip install:

setuptools
nose
Cython

numpy>=1.9.0
scipy>=0.14.1

scikit-learn>=0.24
xgboost>=0.80

lockfile
joblib
psutil
pyyaml
liac-arff
pandas

ConfigSpace>=0.4.0,<0.5
pynisher>=0.4.2
pyrfr>=0.7,<0.8
smac==0.8
----------------------------------------

pip install auto-sklearn
